<h1>Pocket Alert</h1>
<p>Phone numbers are written in the form +XXXXXXXXXXX, delineated by commas.</p>
<form action="/create_message/" method="POST">
    Phone numbers: <input type="text" name="phone">
    <br/>
    Message: <input type="text" name="message">
    <br/>
    <input type="submit">
</form>
